body {
  background-color: black;
  color: white;
}
.lightmode {
  background-color: white;
  color: black;
}
button {
  position: fixed;
  right: 2.5%;
  bottom: 2.5%;
  border: 5px solid red;
  border-radius: 25px;
}
.h:hover{
  background-color: yellow;
}
a {
  position: fixed;
  right: 2.5%;
  top: 2.5%;
  border: 5px solid red;
  border-radius: 25px;
  background-color: white;
}
p {
  width: 85%;
  height: 85%;
}
span {
  position: fixed;
  right: 2.5%;
  
  bottom: 7%;
}